.a-bg {
	background-image: url(./b11.jpg);
	background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;
}
.leaders {
margin-bottom: 20px;

}

.leaders h2, .achievements h2 {
	background: #fff;
	border: 1px solid #909090;
	border-radius: 5px;
	margin-top: 20px;
	padding: 5px;
	text-align: center;
}

@media only screen and (min-width: 768px) {
.achievements h2 {
	display: none;
}
}
