
.desc-card.T {
	color: #fff;
  background :#d87f6c;
}

.desc-card.NT {
  color: #fff;
	background: #479187;
}

.T p,.NT p {
  font-family: open-sans;
  font-size: 15px;
  font-style: italic;
}

.score-badge {
  background: url(./badge.svg);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  color: #d4af37;
  z-index: 99;
  line-height: 40px;
  text-align: center;
	bottom: 5px;
	right: 5px;
}

.desc-card {
	padding: 10px;
  margin: .8em 0;
	width: 100%;
}
.timeperiod img{
	width: 20px;
	height: 20px;

}
.dp {
	margin: 0 auto;
	box-shadow: 1px 2px 2px 2px #909090;
  margin-top: 5px;
}
.user-detail h2 {
	font-family: 'Julee', cursive;
	font-weight: bolder;
}
.user-detail  h3{
	margin-top: 10px;
	font-family: 'Julee', cursive;
}
.user-detail h4 {
	font-family: fantasy;
}
@media only screen and (min-width: 768px) {
	.achievement-column {
	  border-left: 1px solid #c0c0c0;
	}
}
